
@font-face {font-family: "iconfont";
	src:url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-link:before { content: "\e600"; }
.icon-home:before { content: "\e601"; }
.icon-sale:before { content: "\e602"; }
.icon-location:before { content: "\e603"; }
.icon-housefill:before { content: "\e604"; }
.icon-icon12:before { content: "\e605"; }
.icon-user:before { content: "\e606"; }
.icon-user1:before { content: "\e607"; }
.icon-file:before { content: "\e608"; }
.icon-iconfuzhi:before { content: "\e609"; }
.icon-gongqiazhaozhongpai:before { content: "\e60a"; }
.icon-fenxi:before { content: "\e60b"; }
.icon-baobiaoxitong:before { content: "\e60c"; }
.icon-datezhuanhuan:before { content: "\e60d"; }
.icon-icon_scan:before { content: "\e60e"; }
.icon-house:before { content: "\e60f"; }
.icon-check:before { content: "\e62f"; }
.icon-fangxing:before { content: "\e610"; }
.icon-home1:before { content: "\e611"; }
.icon-tag:before { content: "\e612"; }
.icon-yaochifang:before { content: "\e613"; }
.icon-phone:before { content: "\e614"; }
.icon-mingpian:before { content: "\e615"; }
.icon-wenjianjia03:before { content: "\e616"; }
.icon-user2:before { content: "\e630"; }
.icon-user3:before { content: "\e617"; }
.icon-time:before { content: "\e618"; }
.icon-zhilupai:before { content: "\e619"; }
.icon-database:before { content: "\e61a"; }
.icon-build:before { content: "\e61b"; }
.icon-dianhua:before { content: "\e61c"; }
.icon-18window:before { content: "\e61d"; }
.icon-pin:before { content: "\e61e"; }
.icon-icotag:before { content: "\e61f"; }
.icon-zu:before { content: "\e620"; }
.icon-icon-users-add:before { content: "\e631"; }
.icon-date:before { content: "\e621"; }
.icon-mp-nav-home-c:before { content: "\e62e"; }
.icon-zhuangtai:before { content: "\e622"; }
.icon-random:before { content: "\e623"; }
.icon-18:before { content: "\e624"; }
.icon-cunqianguan:before { content: "\e625"; }
.icon-file1:before { content: "\e626"; }
.icon-start:before { content: "\e627"; }
.icon-contact:before { content: "\e628"; }
.icon-leixing:before { content: "\e629"; }
.icon-celiang1:before { content: "\e62a"; }
.icon-1323shouyeloucengqukuai:before { content: "\e62b"; }
.icon-date1:before { content: "\e62c"; }
.icon-adduser:before { content: "\e62d"; }
